@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600;700&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#1A2E40;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contener{
    position: relative;
    padding: 30px;
    background: #030A8C;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(0, 0, 0.1); 
    box-sizing: border-box;
}
.contener h1{
    position: relative;
    margin-bottom: 30px;
    color: white;
    
}


.contener form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
}
.contener form .inputFealds{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    width: 100%;

}
.contener .inputFealds input{
   
    margin: 10px 0;
    font-size: larger;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(0, 0, 0.1); 
    width: 100%;
    padding: 10px;
}
.contener form .forgotPW {
    display: flex;
    padding: 10px 0;
    margin-bottom: 20px;
    font-size: 15px;
    color: #fff;
    max-width: 100%;

}
.contener form .forgotPW input{
    margin-right: 9px;
    padding:10px;
}
.contener form .forgotPW a{
    text-decoration: none;
    color: #fff;
    margin-left: 100px;
}
.contener form .forgotPW a:hover{
    text-decoration: underline;
}



.contener form .conection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    width: 90%;
}

.contener form .conection #boutton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    font-size: larger;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(0, 0, 0.1); 
    width: 100%;
    background: #F2E307;
    color: #fff;
    font-size: 30px;
    font-weight: 700;

}
.contener form .creatCompt{
    display: flex;
    position: relative;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
.contener form .creatCompt p{
    font-size: 13px;
    color: white;
    margin-right: 30px;
}
.contener form .creatCompt a{
    text-decoration: none;
    color: #fff;
    border: 0.5px solid blueviolet;
    padding: 5px;

    transition: 0.6s;

}
.contener form .creatCompt a:hover{
    text-decoration: underline;
}
/*/////////////////////////////////////////////////////////////////////////INSCRIPTION///////////////////////////////////////////////////////////////////////////////////////*/

.contener form .inscription{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 40px;
}
.contener form .inscription button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    font-size: larger;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(0, 0, 0.1); 
    width: 100%;
    background: #F2E307;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////Renitialiser le mot de passe /////////////////////////////////////////*/

#M{
    margin-top: 30px;
}





@media (max-width: 800px){
    .contener{
        display: flex;
        height: 100vh;
        box-sizing: border-box;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .contener form .inputFealds{
        
        box-sizing: border-box;
    }
    .contener .inputFealds input{
       height: 50px;
       box-sizing: border-box;
       width: 100%;
    }
    .content{
        margin-top: 20%;
    }
    
    

    


}